html,
body {
  padding: 0;
  margin: 0;
  margin: 1rem auto;
  max-width: 45rem;
  display: block;
  align-items: center;
  color: black;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}


a {
  color: #222;
}
a:hover{
  color:burlywood;
}
* {
  box-sizing: border-box;
}

li {
  padding-top: 10px;
  padding-bottom: 10px;
}

td {
  border: 1px solid;
}

th {
  border: 1px solid;
}

table {
  border-collapse: collapse;
}